@font-face {
    font-family: Jet;
    src: url(media/JetBrainsMono-VariableFont_wght.ttf);
}

body{
    font-family: "Jet";
    height: 97vh;
    width: 98vw;
}

:root{
    --pri : #00ffdd;
    --sec : #050505;
    --ter : #f0f0f0;
}

.darkmode{
    --pri : #00ffdd;
    --sec : #f0f0f0;
    --ter : #050505;
}

a{
    color: var(--sec);
    text-decoration: none;
}

#root{
    height: 100%;
    font-family: "Jet";
}

#branding{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--pri);
    background-color: var(--ter);
    font-size: 1vw;
}

#startPage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: var(--sec);
    color: var(--ter);
    height: 85%;
    background-image : url('media/startPageBG.jpeg');
    background-size: cover;
}

.button{
    font-family: "Jet";
    color: var(--pri);
    background-color: var(--sec);
    border: none;
    border-radius: 10px;
    width: 25%;
    height: 25%;
}

.button:hover{
    color: var(--sec);
    background-color: var(--ter);
}

#questionPage{
    width: 100%;
    height: 95%;
    color: var(--sec);
    background-color: var(--ter);
}

#topBar{
    color: var(--sec);
    background-color: var(--ter);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    width: 100%;
}

#previousButton{

}

#nextButton{

}

#questionNumber{

}

.saveButton{
    background-color: var(--ter);
    padding: 1%;
}

.savedButton{
    font-size: 1em;
    border: none;
    padding: 1%;
    background-color: green;
}

#timer{
    
}

#questionText{
    width: 100%;
    padding: 1%;
    font-size: 2em;
}

.options{
    font-family: "Jet";
    padding: 1%;
    font-size: 1.5em;
    border: none;
}

.selectedOption{
    font-family: "Jet";
    border-radius: 10px;
    color: var(--pri);
    font-size: 1.5em;
    background-color: var(--sec);
}

#startLanguageSelector{
    font-family: "Jet";
    padding: 2%;
}